body  {
    background-color: #002627;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    max-width: 90%;
    margin: 5rem auto;
    color: #eefff1;
    font-size: 16px;
    line-height: 22px;
}

a#btn_aurora img {
    display: block;
    width: 500px;
    margin: auto;
    margin-top: -30px;
    margin-left: 0px;
    position: fixed;
    transition: all .3s;
}

a#btn_aurora img:hover {
    transform: scale(1.15);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

#header-background {
    width: 100%;
    height: 150px;
    background:url(https://i.imgur.com/iZRNk.jpg);
    background-size: cover;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin-top: 60px;
    margin-left: 550px;
    margin-right: 10px;
}


@media (max-width: 1260px) {
    .nav {
       margin-top: 120px;
       grid-template-columns: 1fr;
       max-width: 80%;
       margin-left: 50px;
    }
}

@media (max-width: 1500px) {
    a#btn_aurora img {
        width: 300px;
        margin-top: 5px;
        margin-left: 10px;
    }
}

@media (max-width: 1200px) {
    #header-background {
        width: 100%;
        height: 260px;
        background:url(https://i.imgur.com/iZRNk.jpg);
        background-size: cover;
    }
}

@media (max-width: 1200px) {
    a {
        font-size: 20px;
        line-height: 24px;
    }
}

a {
    font-size: 28px;
    line-height: 31px;
    text-shadow: 0 0 10px powderblue;
    transition: all .5s;
}

a:hover {
    color: rgb(194, 161, 207);
    transform: scale(1.15);
    text-shadow: 0 0 20px #e4aee9; 
    border-radius: 30px;
}

a:active {
    color: rgb(119, 77, 143);
}

ul {
    list-style-type: none;
    max-width: 750px;
    margin: auto;
    padding: 0;
}

header nav li {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}

header nav a {
    display: block;
    text-decoration: none;
    color: #c6ebce;
}


.aurora1 {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-top: 220px;
    width: 130%;
}

.auroratitle {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #c6ebce;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.subtitle {
    font-size: 30px;
    margin-top: 40px;
    color: #c6ebce;
}

.title {
    margin-top: 250px;
    font-weight: 500;
    font-size: 50px;
    color: #c6ebce;
    text-align: center;
}

@media (max-width: 1200px) {
    .title {
        margin-top: 290px;
    }
}

.colors {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 500px;
}

.shapes {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 700px;
}

.causes {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 700px; 
}

.australis {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 600px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.church {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 600px; 
    margin-top: 60px;
    margin-bottom: 60px;
}

.lights {
    display: block;
    margin: auto;
    max-width: 100%;
}

.pagetitle {
    font-size: 30px;
    text-shadow: 0 0 20px rgb(215, 246, 250);
    color: rgb(194, 161, 207);
}

.em {
    font-size: 10px;
    text-align: center;
    margin: auto;
    color: rgb(168, 218, 211);
}