body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 960px;
    min-width: 320px;
    margin: auto;
    font-size: 16px;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

@media (min-width: 640px) {
    .half-box {
        width: 50%;
    }
}

.info {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
    list-style-type: none;
}